/*Styling card area*/
.card{
    max-width: 600px;
    max-height: 570px;
    margin: 2em;
    padding: 2em;
    background: #e3e3e3;
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, .5);
}

.card__frame{
    margin-top: 30px;
    border: 2px solid #062948;
    border-radius: 4px;
}

.card__text{
    color: #FF0000;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 30px;
    margin-top: 10px;
}

.card__title{
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 17px;
    color: black;
    padding-bottom: 2px;
    margin: 2px 0;
}