/*styling for sectioninput*/
.hero__parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(6, 41, 72, 0.8);
    margin-bottom: 1px;
    position: relative;
    overflow: hidden;
    min-height: 35vh;
}

/*typography*/
.h1{
    font-size: 40px;
    color: #f1f1f1;
    margin: 40px 50px 40px 50px;
    word-spacing: 2px;
    font-family: "Roboto", sans-serif;
}

.p{
    display: flex;
    flex-direction: row;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: normal;
    padding-right: 60px;
    padding-left: 60px;
    margin: 20px 80px;
    line-height: 55px;
}