/*styles searchpage*/
.search__container__outer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #062948;
}

.search__container__inner{
    width: 80%;
    padding: 20px 50px;
    margin: 100px 120px 100px 120px;
    min-height: 275px;
    background-color: #f7f0f0;
}

.search__form__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    gap: 5px;
    margin: 20px 30px ;
    padding-top: 20px;
    padding-bottom: 5px;
}

.search__label{
    font-size: 21px;
}

select{
    font-size: 20px;
    width: 450px;
}

.search__input{
    font-size: 20px;
    color: #062948;
}

/*line break*/
hr{
    margin: 30px 30px;
    border: 2px solid #062948;
    padding-right: 60px;
    padding-left: 60px;
}

.search__error{
    color: #860E0E;
    font-size: 17px;
    margin-left: 60px;
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
}

.search__loading{
    color: #860E0E;
    font-weight: bold;
    font-size: 15px;
    margin-left: 50px;
}

.search__results{
    padding-left: 30px;
    padding-top: 20px ;
    font-size: 20px;
}

.search__amount{
    color: #623a1f;
    font-weight: bold;
}
.search__ul{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.search__list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    height: auto;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: #062948;
    padding: 5px 5px;
    margin: 5px 5px;
}

.search__reference{
    color: #1c72a3;
    font-weight: bolder;
    padding-right: 12px;
}

/*de button waarmee favoriten worden gezet op de favorite.jsx pagina*/
.search__favorite__button{
    background-color: lightgray;
    box-shadow: 2px 5px 9px rgba(255, 253, 208, 0.7);
}

.search__favorite__button:hover{
    background-color: #1c72a3;
    box-shadow: 2px 5px 9px rgba(255, 253, 208, 0.7);
}

.search__favorite__button:focus{
    background-color: rgba(28, 114, 163, 0.59);
    box-shadow: 2px 5px 9px rgba(255, 253, 208, 0.7);
}