@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/*////////////////////////
    Table of Contents
    1. Global Styles (including media)
////////////////////////*/

/*Global styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

/*Area*/

/*Media*/
@media screen and (max-width: 1200px) {
  main {
    flex-wrap: wrap;
    justify-content: center;
  }
}
